<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Runtime.Serialization"/>
        <add namespace="System.ServiceModel"/>
        <add namespace="System.ServiceModel.Web"/>
      </namespaces>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime executionTimeout="2147483647"
                 maxRequestLength="2147483647"
                 maxUrlLength="10999" 
                 maxQueryStringLength="2097151" 
                 requestLengthDiskThreshold="80"
                 useFullyQualifiedRedirectUrl="false"
                 minFreeThreads="8"
                 minLocalRequestFreeThreads="4"
                 appRequestQueueLimit="2147483647"
                 enableKernelOutputCache="true"
                 enableVersionHeader="true"
                 requireRootedSaveAsPath="true"
                 enable="true"
                 shutdownTimeout="2147483647"
                 delayNotificationTimeout="5"
                 waitChangeNotification="0"
                 maxWaitChangeNotification="0"
                 enableHeaderChecking="true"
                 sendCacheControlHeader="true"
                 apartmentThreading="false"
                 requestValidationMode="2.0" />
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="skylite" verb="*" path="*" type="skylite.IHandler" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits  maxAllowedContentLength="2147483647"  maxUrl="10999" maxQueryString="2097151">
        </requestLimits>
      </requestFiltering>
    </security>

  </system.webServer>

</configuration>
